/*global*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

body {
    box-sizing: border-box;  
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*navbar*/

.navbar {
    /*overflow: hidden; */
    font-size: 18px;
    height:0;   /*مهم هنا لما عملت ارتفاع صفر كده كده هيبقا على الصورة مش فوق */ 
    color: #fff;
    position: relative;
    z-index: 2;
}

.navbar .brand {
    float: left;
    width: 50%;
    text-transform: uppercase;
}

.navbar .links {
    float: left;
    width: 50%;
    margin-top: 15px;
}

.navbar .links ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.navbar .links li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
    text-transform: uppercase;
    border: 2px solid transparent; /*شفاف*/
    font-weight: bold ;
}

.navbar .links li a {
    color:#fff;
    text-decoration: none;
}

.navbar .links ul li.active a,
.navbar .links ul li a:hover {
    color: #1abc9c;
}

.navbar .links ul li.active,
.navbar .links ul li:hover {
    border-bottom:  2px solid #1abc9c;
}


.navbar .links ul li.active:after{
    border-bottom:  2px solid #1abc9c; 
}

/*start header*/

.header{
    background: url("../images/header.jpg");
    position: relative;
}

.header .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;/* عشان اعمل طبقهشفافه فوقالصورةوتاخدالصورة كلها*/
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header .bx-wrapper {
    box-shadow: none;
    border: 0;
    background: none;
    height: 100%;
    color: #fff;
}

.header .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: 0;
    background: none;
    height: 100% !important;
    text-align: center;
}

.header .bxslider {
    height: 100%;   
}


.header .bxslider li {
    display: block;
}

.header .bxslider li h2{
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0;
} 

.header .bxslider li h2 span {
    color: #1abc9c;
}

/*our services*/

.services {
    padding: 80px 20px 40px;
}
.services h2 {
    margin: 0 0 50px;
    font-weight: normal;
}

.services .item {
    float: left;
    width: 33.33333%;
    margin-bottom: 20px;
}

.services .item i {
    color: #1abc9c;
    float: left;
    width: 17%;
    margin-right: 8%;
    margin-top: 8px;
}

.services .item .info {
    float: left;
    width: 75%;
    
}

.services .item .info h3 {
    font-weight: normal;
    color: #585353;
    margin-bottom: 10px;
    
}

.services .item .info p {
    margin-top: 0;
    color: #888;
}

.ourteam {
    padding: 40px 20px;
    
}

.ourteam .box{
    float: left;
}

.ourteam .box:first-child {
    width: 35%;
}

.ourteam .box p {
    color: #888;
    line-height: 1.4;
    font-size: 14px;
    
}

.ourteam .box:not(:first-child) {
    width: 15.25%;
    margin-left: 1%;
    position: relative;
    transition: all 1s ease-in-out;
}

.ourteam .box:not(:first-child) .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 183px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
    background-color: rgba(26, 188, 156, .8);
    display: none;
    
}

.ourteam .box:not(:first-child):hover .overlay {
    display: block;
}

.ourteam .box img {
    width: 175px;
    height: 175px;
    width: 100%;
    height: 100%;
}


.ourteam h2 {
    font-weight: normal; 
    padding: 0 0 15px;
    margin-top: 0;
}

/*start testimonals*/

.test {
    background: url('../images/slider.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 80px 0;
}

.test .t-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}

.test h2 {
    font-size: 40px;
    margin: 80px 0; 
}

.test q{
    font-size: 20px;
    line-height: 2;
    color: #fff;
    display: block;
    margin-top: 60px;
}

.test p {
    font-size:30px;
    color: #1abc9c;
}

.test .slider > div {
    display: none;
}

.test .slider > .active {
    display: block;
}

/*start our-projects*/

.our-projects{
    padding: 60px 0;
    
}

.our-projects h2 {
    font-weight: normal;
}

.our-projects ul {
    margin-top: 50px;
    
}

.our-projects ul li{
    display: inline-block;
    border: 2px solid #d4cccc;
    color: #a7a7a7;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.our-projects ul li.selected {
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
    color: #fff;
    
}

.our-projects .gallery {
    margin-top: 50px;
    overflow: hidden;
}

.our-projects .gallery .row > div{
    width:  32.66666%;
    float: left; 
    margin-bottom: 12px;
    position: relative;
}

/*  عشان اظبط المسافه بين الىفى النصوالى جمبه هديها مارجن واحد بيكسلمن كل جانب*/

.our-projects .gallery .row > div:nth-child(2){
    margin-right: 1%;
    margin-left: 1%;
}

.our-projects .gallery .row > div img {
    width: 100%;
}

.our-projects .gallery .row > div .over{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 282px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
    background-color: rgba(26, 188, 156, .8);
    display: none;
}
.our-projects .gallery .row > div .heart{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    display: none;
}

.our-projects .gallery .row > div:hover .over,
.our-projects .gallery .row > div:hover .heart
{
    display: block;
}

.our-projects .shuffle li {
    cursor: pointer;
}

/*.our-projects .mix {
    display: none;
}*/

/*start footer*/

.footer {
    background-color: #232323;
    color: #6c6c6c;
    padding: 40px 0;
    overflow: hidden; 
}

.footer .col {
    width: 25%;
    float: left;
}

.footer .col h2 {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    
}

.footer .col p {
    margin-bottom: 30px;
    line-height: 1.6;
    
}

.footer .col i {
    display: inline-block;
    color: #979797;
    padding: 10px;
    border: 1px solid #979797;
    width: 40px;
}
.footer .tag span {
    display: inline-block;
    color: #ccc;
    padding: 10px;
    border: 1px solid #979797;
    margin-right: 5px;
    margin-bottom: 10px;
}

.footer .recent div{
    overflow: hidden;
    margin-bottom: 15px;
    
}

.footer .recent div img{
    float: left;
    margin-right: 10px;
}

.footer .recent div h4{
    margin: 8px 0;
    color: #ccc;
    font-weight: normal;
}

.footer .blog ul li {
    padding: 15px;
    border-bottom: 1px solid #979797;
    color: #ccc;
    
}

.footer .copyright {
    margin-top: 30px;
}

/*end footer*/




/*end our-projects*/

/*my framework*/

.clearfix {
    clear: both;
}

/*عشان اعمل خط تحت حرف بسب after*/
.specialheading {
    position: relative;
}

.specialheading:after {
    content: "";
    display: block;
    border-bottom: 2px solid #333;
    top: 40px;
    left: 0;
    width: 40px;
}

.split {
    border: 1px solid #eee;
    display: block;
    
}

/*media query*/

@media screen and (max-width: 766px){

    .navbar .links ul {
        display: none;
    }

    .navbar .brand {
        float: none;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    .specialheading:after {
        display: none;

    }
    .services {
        text-align: center;
    }

    .services .item {
        float: none;
        width: 100%;
    }

    .services .item i {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .services .item .info {
        float: none;
        width: 100%;
    }
    .ourteam {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .ourteam .box{
        float: none;
        width: 100%;
    }

    .ourteam .box:first-child {
        width: 100%;
    }

    .ourteam .box h2 {
        width: 100%;
        text-align: center;
        margin: 30px 0 -7px;
    }

    .ourteam .box p {
        padding: 15px;
    }

    .ourteam .box:not(:first-child) {
        width: 100%;
        margin-left: 0;
    }

    .ourteam .box img {
        width: 90%;
        margin-bottom: 10px;
    }

    .our-projects {
        width: 100%;
        text-align: center;
    }

    .our-projects .gallery .row {
        width: 100%;
    }
    .our-projects .gallery .row > div{
        width: 40%;
        margin: 5%;
        
    }
    .our-projects .gallery .row > div:nth-child(1){
        margin-right: 5%;
        margin-left: 5%;
    }
    .our-projects .gallery .row > div:nth-child(2){
        margin-right: 5%;
        margin-left: 5%;
    }
    .footer {
        width: 100%;
        text-align: center;
    }

    .footer .col {
        width: 100%;
        float: none;
    }

    .footer .recent div img{
        float: none;
        margin-right: 0;
    }
}
